.navbar_bg{
    background-color:rgb(236, 222, 20);
}
.display_list{
    display: flex;
    justify-content: space-evenly !important;
}
ul li:hover{
    text-decoration-color: white;
    text-decoration: underline;
}